@font-face {
  font-family: 'Unbounded';
  src: url('/fonts/Unbounded/Unbounded-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Variable font weight range */
  font-style: normal;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Ensure body takes full viewport */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

/* If using a root div */
#root {
  width: 100%;
  min-height: 100vh;
}

@layer base {
  html {
    font-family: 'Unbounded', sans-serif;
  }
}