name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: |
          cd backend
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4️⃣ Linting
      - name: Lint with ruff
        run: |
          cd backend
          pip install ruff
          ruff check .
       
      - name : check format with black
        run: |
          cd backend
          pip install black 
          black --check .

      # 5️⃣ Testing
      - name: Run tests
        run: |
          cd backend
          python manage.py test

      # # 6️⃣ Build Docker images
      # - name: Build Docker images
      #   run: docker-compose build
